<div>
  {{#user}}
    <form action="/logout" method="post">
      Hello, {{ username }}
      <button>Logout</button>
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
    </form>
    {{#isClerk}}
    <a href="/billing-records">Billing Records</a>
    {{/isClerk}}
    {{#isAccountant}}
    <a href="/invoices">Invoices</a>
    {{/isAccountant}}
    {{#isAdmin}}
    <a href="/billing-records">Billing Records</a>
    <a href="/invoices">Invoices</a>
    <a href="/admin/companies">Companies</a>
    {{/isAdmin}}
  {{/user}}
  {{#notUser}}
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  {{/notUser}}
</div>